LOSCFG_CROSS_COMPILE="arm-none-eabi-gcc-"
# LOSCFG_COMPILE_OPTIMIZE_SIZE is not set
LOSCFG_PLATFORM_QEMU_ARM_VIRT_CM4=y
# LOSCFG_IRQ_USE_STANDALONE_STACK is not set
# LOSCFG_ARCH_UNALIGNED_EXC is not set
# LOSCFG_KERNEL_SIGNAL is not set
LOSCFG_KERNEL_CPUP=y
# LOSCFG_CPUP_INCLUDE_IRQ is not set
LOSCFG_LIBC_NEWLIB=y
LOSCFG_FS_LITTLEFS=y
LOSCFG_LFS_MAX_OPEN_FILES=32
LOSCFG_NET_LWIP=y
# LOSCFG_PLATFORM_ADAPT is not set
# LOSCFG_ENABLE_MAGICKEY is not set
LOSCFG_SHELL=y
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_DRIVERS_HDF_PLATFORM_UART=y
LOSCFG_DRIVERS_HDF_PLATFORM_SPI=y
