LOSCFG_CROSS_COMPILE="arm-none-eabi-gcc-"
# LOSCFG_COMPILE_OPTIMIZE_SIZE is not set
LOSCFG_PLATFORM_QEMU_ARM_VIRT_CM4=y
# LOSCFG_ARCH_UNALIGNED_EXC is not set
LOSCFG_USE_TALKWEB_APPLICATION=y
LOSCFG_KERNEL_BACKTRACE=y
LOSCFG_KERNEL_CPUP=y
LOSCFG_LIBC_NEWLIB=y
LOSCFG_FS_LITTLEFS=y
LOSCFG_LFS_MAX_OPEN_FILES=10
LOSCFG_NET_LWIP=y
LOSCFG_SHELL=y
# LOSCFG_DRIVERS is not set
